@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito:wght@200&family=Oswald&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-30{
    width: 30%;
}
.col-50{
    width: 50%;
}
.col-60{
    width: 60%;
}
body , html{
    overflow-x: hidden;
}
.conteiner{
    width: 1150px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.jcs{
    justify-content: space-between;
}
.sec-one{
    background-image: url(./IMG/Image.png);
    
}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
header{
    background-color: #303030;
    padding: 5px 0;
}
.align{
    align-items: center;
}
nav{
    align-items: center;
}
.links ul li{
    display: inline-block;
}
.links a{
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    font-family: 'montserrat',sans-serif;
}
.links a:hover{
    color: orchid;
    border: solid 2px wheat;
    border-radius: 100px;
}
.icon i{
    font-size: 30px;
    color: white;
}
.sec-one-text{
    padding: 100px 0;
}
.sec-one-main{
    padding: 10px 0;
}
.sec-one-text h1{
    font-size: 125px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}
.sec-one-text p{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    margin: 30px 0 30px 0;
    width: 65%;
    font-family: 'Montserrat', sans-serif
}
.REGISTER-NOW button{
    padding: 10px 50px;
    border-radius: 1px;
    background-color:  #e8631c;
    color: #ffffff;
    border: none;
}
.sec-two{
    background-color: #e8631c;
}
.sec-two-text{
    padding: 100px 0;
}
.sec-two-text h2{
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0 0 20px 0;
}
.sec-two-text p{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    margin: 10px 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif
}
.card img{
    width: 100%;
}
.card h3{
    text-align: center;
    font-size: 37px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}
.card p{
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px 0;
}
.sec-three{
    background-color: #303030;
}
.sec-three-main{
    padding: 100px 0;
}
.sec-three-text{
    padding: 100px 0;
}
.sec-three-text h2{
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0 0 20px 0;
}
.sec-three-text p{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    margin: 10px 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.card-2{
    display: flex;
    justify-content: space-between;
}
.card-2-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 2px solid beige;
    background-color: #e8631c;
    margin: 0 30px;
}
h3{
    font-size: 37px;
    /* padding: 10px 0; */
    color: #ffffff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-align: center; 
}
p{
    font-size: 22px;
    padding: 0 auto;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
    margin: 40px 0 40px 0 ;
}
button{
    padding: 8px 65px;
    border-radius:1px;
    background-color: #303030;
    color: #ffffff;
    margin: 10px 10px;
    border: none;
}
.sec-four{
    background-color: #e8631c;
}
.sec-four img{
    width: 100%;
    margin: 0 1px 0 0;
}
.sec-four-main h3{
    font-size: 75px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    padding: 10px;
}
.sec-four-main p{
    font-size: 30px;
    margin: 20px 10px;
    padding: 10px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.Read-more button{
    padding: 8px 65px;
    border-radius:1px;
    background-color: #303030;
    color: #ffffff;
    margin: 10px 10px;
    border: none;
}
.sec-five{
    background-color: #e8631c;
}
.sec-five img{
    width: 100%;
    /* margin: 0 0; */
}
.sec-five-main h3{
    font-size: 75px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    padding: 10px;
}
.sec-five-main p{
    font-size: 30px;
    margin: 20px 10px;
    padding: 10px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.Read-more button{
    padding: 8px 65px;
    border-radius:1px;
    background-color: #303030;
    color: #ffffff;
    margin: 10px 10px;
    border: none;
}
.sec-six{
    background-color: #303030;
}
.sec-six-text{
    padding: 100px 0;
}
.sec-six-text h3{
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family:  'Oswald', sans-serif;
}
.sec-six-text p{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family:  'Montserrat', sans-serif;
    margin: 20px 30px;
}
.box-3{
    color: #ffffff;
    padding: 40px 10px;
    margin:50px 30px;
    flex-direction: column;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-seven{
    background-image: url(./IMG/sec-seven.png);
}
.sec-seven-main{
    padding: 100px 0;
}
.sec-seven-text p{
    font-size: 50px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin: 100px;
}
.sec-seven-text h4{
    font-size: 58px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 100px;
    padding: 90px;
}
.sec-eight{
    background-color: #e8631c;
}
.sec-eight-main{
    padding: 100px 0;
}
.sec-eight-text h4{
    text-align: center;
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}
.sec-eight p{
    margin: 0 80px 0 80px;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family:  'Montserrat', sans-serif;
}
.input-f1{
    text-align: center;
}
.input-f1 input{
    width: 500px;
    padding: 10px 20px;
    border-radius: 1px;
    border: none;
}
.Subscribe{
    padding: 10px 30px;
    margin: -50px;
    bottom: 60px;
    color: white;
    background-color: #303030;
    border: none;
    border-radius: 1px;
}
.footer{
    background-color: #303030 ;
}
.footer-main{
    padding: 100px 0;
}
.footer-main h4{
    font-size: 30px;
    color: #ffffff;
    margin: 0 0 20px 0;
}
.footer-main p{
    color:#ffffff;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    margin: 10px 0 10px 0;
    padding: 20px 0 20px 0;
}
.foot-icon i{
    font-size: 22px;
    color: black;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
}
.footer-main .col-30 h5{
    font-size: 30px;
    color: #ffffff;
    margin: 0 0 20px 0;  
}
.footer-main .col-30 li{
    margin: 5px 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.footer-main .col-30 a{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}